eln-cache/
elpa/
auto-save-list/
transient/
newsticker/
eshell/
org-drill/
org-roam/
persist/
tramp
places
.mc-lists.el
url/
projects
eww-bookmarks
bookmarks
mastodon.plstore
private.el
install/setup-private.el
network-security.data
.mypy_cache/
.cache/
gnus/
var/
mods/
