eln-cache/
elpa/
auto-save-list/
transient/
newsticker/
eshell/
org-drill/
org-roam/
persist/
tramp
places
.mc-lists.el
url/
projects/
eww-bookmarks
mastodon.plstore
private.el
install/setup-private.el
.mypy_cache/
