# -*- mode: snippet -*-
# name: composer-create-project
# key: composer
# --
composer create-project --prefer-dist ${1:$$(yas-choose-value '("laravel/laravel" "symfony/webapp-pack" "symfony/skeleton" "yiisoft/yii2-app-basic" "yiisoft/yii2-app-advanced"))} ${2:project-name}$0