# -*- mode: snippet -*-
# name: composer-create-project
# key: composer
# --
composer create-project ${1:$$(yas-choose-value '("symfony/webapp-pack" "symfony/skeleton" "yiisoft/yii2-app-basic" "yiisoft/yii2-app-advanced"))} ${2:project-name}$0