# -*- mode: snippet -*-
# name: svg-file
# key: svg
# --
<?xml version="1.0" encoding="UTF-8" ?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="none" preserveAspectRatio="none">
$0
</svg>
